body {
    margin: 100px 0px;
    min-height: 100%;
    background-color: ##fdfdfd;
    font-family: 'Source Sans 3',sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 20px;
}

.section {
    width: 60%;
    margin: auto;
}

.container {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Asap',sans-serif;
    color: #000;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.subheader {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Source Sans 3',sans-serif;
    color: #333;
    font-size: 25px;
    line-height: 44px;
    font-weight: 500;
    letter-spacing: 0;
}

#content {
  max-width: 50rem;
  margin: auto;
}

.section-header {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-family: 'Asap',sans-serif;
    color: #000;
    font-size: 30px;
    line-height: 65px;
    font-weight: 700;
    text-align: left;
}

.tldr {
    margin-top: 30px;
    margin-bottom: 3px;
    font-family: 'Source Sans 3',sans-serif;
    color: #333;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0;
}

.title-row {
    margin-top: 20px;
}

.row {
    display: flex;
    min-height: 25px;
    margin: 0.5rem;
    justify-content: center;
}

.author-col {
  margin: 0rem 1rem;
}

.author-text {
    font-family: 'Source Sans 3',sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.text-star {
    position: relative;
    top: -7px;
    display: inline-block;
    margin: 0px;
    font-size: 10px;
}

#uc-berkeley {
    text-align: center;
    font-family: 'Source Sans 3',sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    letter-spacing: 0;
}

#equal-contrib {
    padding-top: 10px;
    font-family: 'Source Sans 3',sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

.icon-col {
    width: 33.33333%;
}

.icon-img {
    max-width: 40%;
    margin-right: auto;
    margin-bottom: 1px;
    margin-left: auto;
    padding-top: 0px;
}

.github-img-icon {
    max-width: 20%;
    margin-top: 6px;
    margin-bottom: 9px;
    opacity: .77;
}

.data-img-icon {
    max-width: 30%;
    margin-top: 5px;
    margin-bottom: 9px;
    opacity: .62;
}

.link-button {
  border-radius: 0.5rem;
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin: 1rem 0.5rem;
  color: #000;
  font-size: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-weight: 700;
  background-color: #f2f2f2;
  border: solid 0px transparent;
}
.link-button:hover {
  background-color: #d9d9d9;
}

#main-video {
    width: 90%;
    /* max-width: 750px; */
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 15px;
}

#body-video {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.wide-img {
    width: 100%;
    max-width: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.sm-img {
    width: 30%;
    max-width: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.caption {
  margin:0 rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
}
.paragraph {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Source Sans 3',sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
}

.paragraph-center {
    margin-top: 0px;
    /* margin-bottom: 20px; */
    font-family: 'Source Sans 3',sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
}

.img-by-text {
  display: flex;
}

.img-by-text > img {
  width: 25%;
}
.img-by-text > div {
  width: 75%;
}

:root {
    --opacity: 50;
}

#canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#canvas-overlay {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* opacity: var(--opacity); */
    filter: opacity(var(--opacity));
    transition-property: filter;
    transition-duration: 0.5s;
}

#main-results {
    width: 100%;
    /* margin-top: 30px; */
    margin-bottom: 0px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    overflow: hidden;
}

#main-results > div {
    height: 200px;
    background-color: red;
}

.videos {
  display: flex;
  gap: 0.5rem;
}

.videos > video {
  max-width: 30%;
}

#opacity {
    font-family: 'Source Sans 3',sans-serif;
    color: #3c3c3c;
    font-size: 20px;
    line-height: 20px;
}

.viewer-bar {
    width: 33.3333%;
}

.citation {
    /* // set background color to gray; */
    background-color: #eaeaea;
    text-align: left;
    border-radius: 10px;
    padding-top: 3px;
}

.citation > h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}
.citation > pre {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

.citation > p {
    margin-left: 20px;
}

#codecell0 {
    margin-bottom: 10px;
    margin-left: 10px;
    overflow-x: auto;
}

.add-top-padding {
    margin-top: 10px;
}

.video-text {
    font-size: 24px;
    margin-top: -40px;
    margin-bottom: 20px;
    color: white;
    position: relative;
    /* font-family: serif; */
}

.overlay-text {
    background-color: #00000070;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

@media screen and (max-width: 750px) {
    body {
      margin: 50px 0px;
    }
    .section {
      width: 90%;
    }
    .title {
        font-size: 30px;
        line-height: 30px;
    }

    .subheader {
        font-size: 16px;
    }

    .author-text {
        font-size: 12px;
    }

    .author-row {
        height: 35px;
    }

    #uc-berkeley {
        font-size: 12px;
    }

    .thumbnail-btn {
        font-size: 8px;
    }

    .thumbnails {
        width: 100%;
        max-height: 20px;
        margin: 0px;
        padding: 0px;
    }

    .section-header {
        font-size: 20px;
        line-height: 20px;
    }

    .videos {
        flex-direction: column;
        align-items: center;
    }
    .videos > video {
        width: 70%;
        max-width: 70%;
    }
}
